* {
    box-sizing: border-box;
    margin: 0;
}

.geral {
  flex-direction: row;
  gap: 10px;

    img {
        height: 144px;
    }
}

.coluna {
    flex-direction: row;

    img {
        height: 40px;
    }
}

.titulo {
    flex-direction: row;
}
